body {
    font-family: Arial, sans-serif;
    background-color: #0adfea;
}

h1 {
    color: #00698f;
}
h2 {
    color: #de0c91;
}
#button3 {
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    background-color: blueviolet;
    color: #fff;
    cursor: pointer;
    width: 170px;
    height: 60px;
}
#chang-background {
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    background-color: blueviolet;
    color: #fff;
    cursor: pointer;
    width: 170px;
    height: 60px;
}

#test {
    padding: 6px 12px;
    /* position: absolute;
    top: 30%;
    left: 10%;
    transform: translate(-50%, -50%); */
    border: none;
    border-radius: 5px;
    background-color: blueviolet;
    color: #f6eeee;
    cursor: pointer;
    width: 160px;
    height: 60px;
}

/* add more styles as needed */